.album-image {
  width: 250px;
  height: 250px;
}

.album-image:hover {
  box-shadow: 5px 5px 10px black;
}

.album-holder {
  justify-content: center;
}

.palette {
  height: 250px;
  width: 20px;
  margin: 0;
}

.color-in-bar {
  cursor: pointer;
}

.spotify-logo {
  height: 20px;
  width: 20px;
  float: right;
}

.figure-caption {
  max-width: 250px;
}

h5 {
  overflow: hidden;
}
